body {
    display: flex;
    flex-direction: row-reverse;
}

button {
    height: 30px;
}

.container {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    width: 600px;
    height: 600px;
    display: grid;
}

.trail {
    background-color: black;
    transition: all 0.1s ease;
}