.container {
    margin: auto;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trail {
    background-color: black;
    transition: all 0.1s ease;
}