body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

button {
    height: 30px;
}

.container {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 500px;
    margin-bottom: 100px;
    width: 600px;
    height: 600px;
    display: grid;
}

